/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #111;
  line-height: 1.6;
}

/* HEADER */
header {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
}

.container {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  font-transform:'Nunito Sans';
}

.logo-bold {
  font-weight: 700;
  color: #f90000;
  font-family: 'Nunito Sans';
  text-transform: uppercase;
}

/* NAVIGATION */
nav a {
  color: #444;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f93c3c;
}

/* MAIN */
main {
  padding: 40px 20px;
}

/* ANNONCES */
.annonces {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.annonce {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.annonce:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.annonce img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  padding: 15px;
}

.info h2 {
  font-size: 18px;
  color: #222;
  margin-bottom: 5px;
}

.info p {
  font-size: 14px;
  color: #666;
}

.prix {
  color: #00a878;
  font-weight: bold;
  margin-top: 8px;
}

/* FILTRES + TRI */
.contenu {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.filtres {
  flex: 0 0 240px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 1rem;
}

.filtres h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #333;
}

.filtres select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 0.95rem;
  background-color: #fff;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filtres select:focus {
  outline: none;
  border-color: #f93c3c;
}

.annonces-section {
  flex: 1;
}

.tri {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.tri select {
  padding: 0.4rem;
  font-size: 0.95rem;
  background-color: #fff;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tri select:focus {
  border-color: #f93c3c;
  outline: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
  background-color: #f1f1f1;
  margin-top: 40px;
}
